/* reset */
@import url(utilidades/reset);

@import url(utilidades/_home.scss);

@import url(utilidades/_maps.scss);

@import url(utilidades/_mixin.scss);

//import variables
@import url(utilidades/_variables.scss);


// nesting
header{ 
    background-color:$color-principal ;
   @include center;
   padding-bottom: 10px;
   padding: 20px;
   @include flex;
   nav{ 
       background-color:$color-principal ;
       margin: 1rem;
       padding: 1rem;
       ul{ list-style: none;
           display: inline-block;
           margin-left: 20px;
           @include flex;
           justify-content: center;
            li{
            a{color: rgb(0, 0, 0);
             text-decoration: none;}
        }}        
   }
 
}

main{ 
   
   @include center;
   padding: 10px;
   h1{
       margin-bottom: 20px;

   }
   
    }
footer{
   @include center;
   background-color:$color-principal;
   color: rgb(0, 0, 0);
   padding: 5px;
   }
